body {
  text-align: center;
  overflow-x: hidden;
}

#logo-link {
  display: block;
  margin: 168px auto 0px auto;
  width: 280px;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

@media (max-width: 719px) {
  #logo-link {
    margin-top: 50px;
  }
}

#logo-link:hover { 
  -webkit-transform: scale(1.11); 
  transform: scale(1.11); 
}

#logo-img {
  width: 100%;
}

#ground {
  background: url(/images/ground.png) repeat-x;
  height: 42px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 20;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 260px;}

#footer {
  position: relative;
  margin-top: -260px; /* negative value of footer height */
  height: 260px;
  clear:both;  
  height: 260px;
  width: 100%;
} 

#liberty {
  position: absolute;
  left: 80px;
  height: 198px;
  top: 20px;
} 

#trees {
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  top: 159px;
  z-index: 10;
}

#buildings {
  position: absolute;
  right: 80px;
  height: 212px;
  top: 7px;  
}


#plane, #plane-2 {
  position: absolute;
  width: 35px;
  left: 100%;
  top: 20px;
}

#plane-2 {
 top: 58px; 
 width: 30px;
}

#car, #car-left {
  position: absolute;
  z-index: 40;
  left: 0px; 
  width: 26px;
  top: 204px;
}

#car {
  left: -26px;
}

#car-left {
  left: 101%;
}

.cityscape {
  display: none;
}