<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/favicon.png">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  <em>Written Software</em> is the trade name of 
                  <span class="name-wrap"><a href="http://washingtonsquareinteractive.com">Washington Square Interactive Media LLC</a></span>
                  <br />
                  For inquiries relating to products or consulting, please send an email to <a href="mailto:contact@writtensoftware.com">contact@writtensoftware.com</a>
                </p>
              </div>
              <div class="contact">
                <p>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
        {% include _ga.html %}
    </body>
</html>
